body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}
.button1{
    background-color: aqua;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

