@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light: #f6f6f6;
    --primary: #1976d2;
    --light-primary: #cfe8ff;
    --grey: #fff;
    --dark-grey: #aaaaaa;
    --dark: #363949;
    --danger: #d32f2f;
    --light-danger: #fecdd3;
    --warning: #fbc02d;
    --light-warning: #fff2c6;
    --success: #388e3c;
    --light-success: #bbf7d0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light);
    font-family: "poppins", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--grey);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #000;
    overflow-x: hidden;
}

.container h2 {
    padding: 1rem 0;
    font-size: 3rem;
    text-align: center;
    color: var(--dark);
}

.budget_content {
    /* padding: 2rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.error_message {
    background-color: var(--danger);
    color: var(--light);
    text-align: center;
    padding: 1rem 0;
    width: 650px;
    margin: 0 auto;
    border-radius: 5px;
    display: none;
}

.error_message.error {
    display: block;
    transition: all 0.8s ease-in;
}

.ur_budget form input, .ur_expenses form input {
    padding: 0.4rem 1rem;
    width: 300px;
    border: 1px solid #ddd;
    font-family: inherit;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 3px;
}

.ur_budget form input:focus, .ur_expenses form input:focus {
    outline: none;
}

.ur_budget form, .ur_expenses form {
    position: relative;
}

.budget_content .btn {
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    font-family: inherit;
    padding: 0.6rem 1rem;
    color: var(--light);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    background-color: var(--dark);
}

.budget_content .btn:active {
    transform: scale(0.98);
}

/* Cards CSS */
.container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;
    padding: 2rem;
}

.container .cards li {
    padding: 1.5rem;
    background-color: var(--light);
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 1rem; /* Reduced the gap to fit content better */
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.container .cards li:hover {
    transform: translateY(-10px);
}

.container .cards li .bx {
    width: 4.5rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cards li:nth-child(1) .bx {
    background-color: var(--light-primary);
    color: var(--primary);
}

.container .cards li:nth-child(2) .bx {
    background-color: var(--light-warning);
    color: var(--warning);
}

.container .cards li:nth-child(3) .bx {
    background-color: var(--light-success);
    color: var(--success);
}

.container .cards li .info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark);
    overflow-wrap: break-word;  /* This will break long words to fit within the card */
    word-break: break-all;      /* Additional rule to break long strings of text */
    max-width: 100%;            /* Ensure the text does not exceed the width of the card */
    white-space: nowrap;        /* Prevents text from wrapping to the next line */
    overflow: hidden;           /* Hide overflow content */
    text-overflow: ellipsis;    /* Add ellipsis (...) to indicate overflowed content */
}

.container .cards li .info p {
    color: var(--dark);
}

/* Add CSS for number spans to prevent overflow */
.container .cards li .info h3 span {
    display: inline-block;
    max-width: 100%;  /* Ensure span does not exceed the width of its container */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Table */
.tbl_content {
    padding: 2rem;
    background-color: var(--light);
    margin: 1rem 2rem;
    border-radius: 5px;
}

.tbl_content h3 {
    font-size: 2rem;
    margin: 1rem 0; 
}

.tbl_tr_content {
    display: grid;
    list-style-type: none;
    grid-template-columns: 1fr 50% 30% 2fr;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.tbl_data {
    overflow-y: auto;
    height: 150px;
}

.tbl_tr_content button {
    outline: none;
    border: none;
    color: var(--light);
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--danger);
}

.tbl_tr_content button:active {
    transform: scale(0.98);
}

.tbl_tr_content button:first-child {
    background-color: var(--success);
}

.print_content {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--light);
    /* margin: 1rem 1rem; */
    border-radius: 4px;
}

.print_content input {
    padding: 0.4rem 1rem;
    width: 300px;
    border: 1px solid #ddd;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 3px;
}

.print_content input:focus {
    outline: none;
}

.print_content .btn {
    outline: none;
    border: none;
    font-family: inherit;
    padding: 0.5rem 1rem;
    color: var(--light);
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--dark);
}

.print_content .btn:active {
    transform: scale(0.98);
}

/* Header */
.header {
    background-color: var(--dark);
    color: var(--light);
    padding: 1rem 2rem;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar .name {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-bar .menu {
    display: flex;
    align-items: center;
}

.menu-bar .menu a {
    color: var(--light);
    text-decoration: none;
    margin-left: 1rem;
    transition: color 0.3s ease;
}

.menu-bar .menu a:hover {
    color: var(--light-primary);
}
